{% extends "innoLCLbackBundle::layout.html.twig" %}


{% block menu %}
{% endblock %}

{% block body %}


        <div class="row main-section">
            <div class="container">
                <div class="col-lg-12 table-responsive">
                    <p class="error-idea-not-found">Vous ne pouvez plus modifier (ou voir) cette idée. Un autre modérateur l'a déjà traitée.</p>
                </div>
            </div>
        </div>
{% endblock %}
