{% extends "innoLCLfrontBundle::layout.html.twig" %}

{% block bodyclass %} reglement{% endblock %}

{% block body %}
    {% include 'innoLCLfrontBundle:Interface:_header_pages.html.twig' %} 
       
       
     <!-- entete -->               
    <div class="row"> 
        <div class="small-10 small-centered columns">
            <h1>&laquo; Challenge de l'innovation &raquo;</h1>
            <h2>Au service de l'AMÉLIORATION de la qualité de service de LCL</h2>
        </div>
    </div> 
    
    <!-- ETAPE 1 -->
    <div class="row"> 
        <img alt="étape 1" />
        <h2><span class="title__date">Du <img alt="10 novembre" /> au <img alt="04 décembre" /></span> Proposez votre meilleure idée</h2>
        <ul class="blue">
            <li><b>Inscrivez-vous</b> sur le site du challenge de l'innovation</li>
            <li><b>Proposez votre meilleure idée à l'aide du bulletin de participation</b><br/>
                          en remplissant l'ensemble des champs mentionnés</li>
            <li><b>Votre idée doit : 
                   <ul class="sublist">
                        <li>Être inédite et innovante</li>
                        <li>Améliorer la qualité de service LCL<br/>
                            (reconnaissance client, conquête, bien être et confort, responsabilité sociétale et environnementale, etc.)</li>
                        <li>Avoir un bénéfice client &amp; collaborateur</li>
                        <li>Avoir un coût et des délais de mise en œuvre maîtrisés</li>
                    </ul>
                    </li>
            <li>Un comité de pré-sélection validera la recevabilité de votre idée et vous informera si votre idée :
                <ul class="sublist">
                        <li><b>Est retenue</b> et pourra poursuivre le processus de sélection,</li>
                        <li><b>N'est pas retenue</b> (déjà embarquée dans les projets existants LCL, a déjà été proposée par un autre participant ou ne répond pas aux critères de sélection) ... vous avez dès à présent la possibilité de soumettre une nouvelle idée !</li>
                        <li><b>Peut être recevable mais doit être approfondie : </b> vous serez contacté par un memebre du comité de pré-sélection qui vous indiquera les précisions nécessaires à apporter à votre idée</li>
                </ul>
                </li>
            <li><b>1 seule idée validée sera retenue par participant</b>/li>
            <li><b>Dès que votre idée est validée, vous pourrez su vous le souhaitez faire appel à LCL Factory et vous entourer de maximum 10 accompagnants pour enrichir votre idée. Si celle-ci est retenue parmi les 10 lauréats, vos accompagnants seront également récompensés :</li>
        </ul>
    </div>           
    
    <!-- ETAPE 2 -->
    <div class="row"> 
        <img alt="étape 2" />
        <h2><span class="title__date"><img alt="15 décembre" /></span> Découvrez les lauréats</h2>
        <ul class="blue">
            <li><b>Découvrez les 10 lauréats et le titre de leurs idées qui ont été sélectionnés par le jury</b></li>
            <li>Le jury s'engage à mettre en œuvre l'idée qui sera désignée gagnante</li>
        </ul>            
    </div>           
    
    <!-- ETAPE 3 -->
    <div class="row"> 
        <img alt="étape 3" />
        <h2><span class="title__date">Du <img alt="15 décembre" /> au <img alt="11 janvier" /></span>Soyez patients</h2>
        <ul class="blue">
            <li>Pendant cette période, <b>les 10 lauréats et leurs accompagnants seront coachés par LCL pour valoriser leurs idées en vidéo</b></li>
            <li>En attendant, vous pourrez en apprendre plus sur le <b>comité de pré-sélection et le jury de sélection</b></li>
            <li>En parallèle, <b>une communauté sera ouverte à l'enmseble des collaborateurs pour encourager les lauréats</b></li>
        </ul>            
    </div>           
    
    <!-- ETAPE 4 -->
    <div class="row"> 
        <img alt="étape 4" />
        <h2><span class="title__date">Du <img alt="12 janvier" /> au <img alt="22 janvier" /></span>Votez pour votre idée préférée</h2>
        <ul class="blue">
            <li>Dès le 12 janvier, <b>vous découvrirez les 10 idées en vidéo de quelques minutes &hellip;<br/>
                et vous pourrez votez pour votre idée préférée !</li>
            <li>A la fin de la période de vote, <b>un tirage au sort</b> parmi l'ensemble des votants permettra à 100 d'entre eux d'être récompensés !</li>
        </ul>            
    </div>           
    
    <!-- ETAPE 5 -->
    <div class="row"> 
        <img alt="étape 5" />
        <h2><span class="title__date"><img alt="26 janvier" /></span>Découvrez le grand gagnant</h2>
        <ul class="blue">
            <li><b>Le 26 janvier 2016, le grand gagnant sera dévoilé !</li>
            <li><b>Une cérémonie de remise des prix</b> aura lieu début février au "19 LCL"<br/>
                afin de récompenser les 10 lauréats et leurs accompagnants.</li>
            <li><b>Un tirage au sort</b> parmi les votants qui auront voté pour le grand gagnant récompensera 50 d'entre eux!</li>
        </ul>            
    </div>           
    
                
{% endblock %}
