{% extends "innoLCLfrontBundle::layout.html.twig" %}

{% block bodyclass %} mentions{% endblock %}

{% block body %}
    {% include 'innoLCLfrontBundle:Interface:_header_pages.html.twig' %} 
                    
    <div class="row"> 
        <div class="small-1 columns">&nbsp;</div>
        <div class="small-10 columns">
            <h1>Mentions légales</h1>
            <p><b>CREDIT LYONNAIS</b>, société anonyme au capital de EUR 1.847.860.375 représenté par 356.507.037 actions entièrement libérées.<br>
                Immatriculée au registre du Commerce et des Sociétés sous le numéro: B 954 509 741 RCS Lyon<br>
                Siren : 954 509 741<br>
                Numéro d'identification TVA intracommunautaire : FR 9295 4509 741<br>
                Statut Fatca : Reporting Model 1 FFI<br>
                N° GIIN : CEQ4EV.00237.ME.250 <br>
                Siège social : 18, rue de la République 69 002 Lyon<br>
                Adresse courrier : 20, avenue de Paris 94811 Villejuif Cedex<br>
                Téléphone : 01 42 95 70 00<br>
            </p>
            <p><b>Editeur du service :</b> LCL<br>
                Directeur de la publication : Yves Nanquette, Directeur général<br>
                Responsable de la rédaction : Marie Petracco, Responsable Communication<br>
            </p>
            <p>Crédit Lyonnais est un établissement de crédit de droit français agréé par l'Autorité de contrôle prudentiel et de résolution (<a href="http://acpr.banque-france.fr/accueil.html" target="_blank">site de l'ACP</a>, 61, rue Taitbout 75436 Paris Cedex) et est une entreprise régie par le code des assurances, inscrite sous le numéro d'immatriculation d'intermédiaire en assurance ORIAS 07001878.</p>
        </div>    
        <div class="small-1 columns">&nbsp;</div>    
    </div>            
    
                
{% endblock %}