<div id="sectionRegister" class="register-bg">
<div class="row">
    <div class="ie-small-10-fix">
    {% include 'innoLCLAllUserBundle:Registration:registerraw.html.twig' %} 
    </div>
</div>
</div>
