imports:
    - { resource: config.yml }

#framework:
#    validation:
#        cache: validator.mapping.cache.apc
#    serializer:
#        cache: serializer.mapping.cache.apc

#doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc

monolog:
    handlers:
        main:
            type:               fingers_crossed
            action_level:       error
            handler:            grouped
        grouped:
            type:               group
            members:            [streamed, swift]
        streamed:
            type:               rotating_file
            max_files:          15
            path:               "%kernel.logs_dir%/%kernel.environment%.log"
            level:              debug
        swift:
            type:               swift_mailer
            from_email:         sfmailer@freetouch.fr
            to_email:           [julien@freetouch.fr]
            subject:            "[LCL Inno] OOps - prod"
            level:              warning
        login:
            type:               stream
            path:               "%kernel.logs_dir%/auth.log"
            level:              error
            channels:           security  
