/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../../fonts/glyphicons-halflings-regular.eot");
  src: url("../../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/glyphicons-halflings-regular.svg#../../fonts/glyphicons-halflings-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("../../fonts/Lato-Light.eot");
  src: url("../../fonts/Lato-Light.ttf") format("truetype"), url("../../fonts/Lato-Light.woff") format("woff"), url("../../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Light.svg#../../fonts/Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("../../fonts/Lato-Regular.eot");
  src: url("../../fonts/Lato-Regular.ttf") format("truetype"), url("../../fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Regular.svg#../../fonts/Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("../../fonts/Lato-Bold.eot");
  src: url("../../fonts/Lato-Bold.ttf") format("truetype"), url("../../fonts/Lato-Bold.woff") format("woff"), url("../../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Bold.svg#../../fonts/Lato-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("../../fonts/Lato-Black.eot");
  src: url("../../fonts/Lato-Black.ttf") format("truetype"), url("../../fonts/Lato-Black.woff") format("woff"), url("../../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-Black.svg#../../fonts/Lato-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
/* line 1, ../../../../../../../Compass_back/sass/_generic.scss */
body, html {
  font-family: 'Lato-regular';
  line-height: 1.4em;
}

/* line 6, ../../../../../../../Compass_back/sass/_generic.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 1, ../../../../../../../Compass_back/sass/_navbar.scss */
.navbar {
  background: none;
  background: -moz-linear-gradient(top, #15388c 0%, #15388c 50%, transparent 51%, transparent 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #15388c), color-stop(50%, #15388c), color-stop(51%, transparent), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, #15388c 0%, #15388c 50%, transparent 51%, transparent 100%);
  background: -o-linear-gradient(top, #15388c 0%, #15388c 50%, transparent 51%, transparent 100%);
  background: -ms-linear-gradient(top, #15388c 0%, #15388c 50%, transparent 51%, transparent 100%);
  background: linear-gradient(to bottom, #15388c 0%, #15388c 50%, transparent 51%, transparent 100%);
  height: 8.75em;
  margin-bottom: 1.5em;
  border: none;
}

/* line 13, ../../../../../../../Compass_back/sass/_navbar.scss */
span.nav_challenge {
  font-weight: 700;
  font-size: 18px;
  line-height: 4.375rem;
  color: #f7f7f7;
}

/* line 19, ../../../../../../../Compass_back/sass/_navbar.scss */
.logout {
  background: white none repeat scroll 0% 0%;
  padding: 0.5em;
  margin-right: -1em;
  margin-top: 1em;
  vertical-align: middle;
}

/* line 26, ../../../../../../../Compass_back/sass/_navbar.scss */
.navbar-admin {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 1, ../../../../../../../Compass_back/sass/_navidea.scss */
.navidea {
  background: #ffffff;
  padding-bottom: 1.5em;
}

/* line 5, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-blue {
  border-color: #1c7cb8;
}
/* line 7, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-blue .panel-heading {
  background-color: #1c7cb8;
}

/* line 11, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-green {
  border-color: #4bb85d;
}
/* line 13, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-green .panel-heading {
  background-color: #4bb85d;
}

/* line 17, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-red {
  border-color: #e3564d;
}
/* line 19, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-red .panel-heading {
  background-color: #e3564d;
}

/* line 23, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-yellow {
  border-color: #fbc914;
}
/* line 25, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-yellow .panel-heading {
  background-color: #fbc914;
}

/* line 30, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-heading .huge {
  font-size: 32px;
  font-size: 2em;
  height: 1.75em;
  line-height: 1.75em;
  padding-top: 0.125em;
  padding-right: 0.125em;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
/* line 42, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-heading .huge.all {
  background-image: url("../../images/picto-admin-blanc.png");
  color: #1c7cb8;
}
/* line 46, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-heading .huge.maybe {
  background-image: url("../../images/picto-admin-blanc.png");
  color: #fbc914;
}
/* line 50, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-heading .huge.valid {
  background-image: url("../../images/picto-admin-blanc.png");
  color: #4bb85d;
}
/* line 54, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-heading .huge.refus {
  background-image: url("../../images/picto-admin-blanc.png");
  color: #e3564d;
}
/* line 59, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-heading .cat_name {
  color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 1.4em;
  padding: 0.5em 0 0;
}

/* line 69, ../../../../../../../Compass_back/sass/_navidea.scss */
.panel-footer {
  background: #ffffff;
  height: 2.5em;
}

/* line 1, ../../../../../../../Compass_back/sass/_main.scss */
body {
  background: #ffffff;
}

/* line 5, ../../../../../../../Compass_back/sass/_main.scss */
.main-section {
  min-height: 45em;
  padding: 1em 0.5em;
}

/* line 11, ../../../../../../../Compass_back/sass/_main.scss */
.section-all {
  background-color: #1c7cb8;
}

/* line 15, ../../../../../../../Compass_back/sass/_main.scss */
.section-maybe {
  background-color: #fbc914;
}

/* line 19, ../../../../../../../Compass_back/sass/_main.scss */
.section-validated {
  background-color: #4bb85d;
}

/* line 23, ../../../../../../../Compass_back/sass/_main.scss */
.section-refused {
  background-color: #e3564d;
}

/* line 26, ../../../../../../../Compass_back/sass/_main.scss */
.section-selectionneur {
  padding-top: 0;
}

/* line 29, ../../../../../../../Compass_back/sass/_main.scss */
.table-responsive {
  background: #fff;
  padding: 0.5em;
}

/* line 33, ../../../../../../../Compass_back/sass/_main.scss */
#idealist {
  border-radius: 5px;
  border: 1px solid #979797;
  font-size: 14px;
}
/* line 37, ../../../../../../../Compass_back/sass/_main.scss */
#idealist tr:nth-child(2n) {
  background: #f7f7f7;
}
/* line 40, ../../../../../../../Compass_back/sass/_main.scss */
#idealist tr.active td {
  background: #a1cae8;
}

/* line 44, ../../../../../../../Compass_back/sass/_main.scss */
.table-heading {
  background: #f7f7f7;
}
/* line 47, ../../../../../../../Compass_back/sass/_main.scss */
.table-heading th {
  font-weight: 700;
  text-align: left;
}

/* line 54, ../../../../../../../Compass_back/sass/_main.scss */
.ribbon-container {
  background-color: #ffd217;
}

/* line 59, ../../../../../../../Compass_back/sass/_main.scss */
.ribbonl {
  padding-left: 50px;
}

/* line 62, ../../../../../../../Compass_back/sass/_main.scss */
.ribbonr {
  padding-right: 50px;
}

/* line 66, ../../../../../../../Compass_back/sass/_main.scss */
.ribbon-left {
  position: relative;
  font-weight: bold;
  padding: 6px 0 6px 71px;
  margin: 0 0 0 -71px;
  color: #e7900b;
  background-color: #ffd217;
}

/* line 74, ../../../../../../../Compass_back/sass/_main.scss */
.ribbon-left:before, .ribbon-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

/* line 77, ../../../../../../../Compass_back/sass/_main.scss */
.ribbon-left:before {
  width: 40px;
  left: -19px;
  top: 12px;
  border-width: 20px 10px;
  border-style: solid;
  border-color: #ffd217 #ffd217 #ffd217 transparent;
}

/* line 85, ../../../../../../../Compass_back/sass/_main.scss */
.ribbon-left:after {
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #efa40d #efa40d transparent transparent;
}

/* line 87, ../../../../../../../Compass_back/sass/_main.scss */
.ribbon-right {
  position: relative;
  font-weight: bold;
  padding: 7px 71px 6px  0;
  margin: 0 -71px 0 0;
  color: #e7900b;
  background-color: #ffd217;
  text-align: right;
}

/* line 96, ../../../../../../../Compass_back/sass/_main.scss */
.ribbon-right:before, .ribbon-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

/* line 99, ../../../../../../../Compass_back/sass/_main.scss */
.ribbon-right:before {
  width: 40px;
  right: -19px;
  top: 12px;
  border-width: 20px 10px;
  border-style: solid;
  border-color: #ffd217 transparent #ffd217 #ffd217;
}

/* line 107, ../../../../../../../Compass_back/sass/_main.scss */
.ribbon-right:after {
  right: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #efa40d transparent transparent #efa40d;
}

/* line 115, ../../../../../../../Compass_back/sass/_main.scss */
.selecteur {
  background: url("../../images/selected.png");
  width: 80px;
  height: 38px;
  background-position: 0 38px;
  border: none;
}
/* line 122, ../../../../../../../Compass_back/sass/_main.scss */
.selecteur.js-selected:hover, .selecteur.isselect {
  background-position: 0 0px;
}

/* line 126, ../../../../../../../Compass_back/sass/_main.scss */
.validateselection {
  background: #f7f7f7;
  border: 1px solid #efa40d;
  border-radius: 5px;
  font-size: 14px;
}
/* line 131, ../../../../../../../Compass_back/sass/_main.scss */
.validateselection:hover {
  background: #efa40d;
  border: 1px solid #f7f7f7;
  color: #f7f7f7;
}

/* line 137, ../../../../../../../Compass_back/sass/_main.scss */
.table > tbody > tr > td.nopadding {
  padding: 0;
}

/* line 140, ../../../../../../../Compass_back/sass/_main.scss */
.warn-final {
  font-size: 1.5em;
}

/* line 143, ../../../../../../../Compass_back/sass/_main.scss */
.white-bg {
  background: #ffffff;
}

/* line 147, ../../../../../../../Compass_back/sass/_main.scss */
.rework {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #fbc914;
  margin: 0 auto;
  border-radius: 5px;
}

/* line 156, ../../../../../../../Compass_back/sass/_main.scss */
.pagination_block {
  display: inline-block;
  float: right;
  background: #f7f7f7;
  list-style: none outside;
  margin-bottom: 1.5em;
  margin-right: 0.5em;
  border: 1px solid #979797;
  border-right: none;
}

/* line 166, ../../../../../../../Compass_back/sass/_main.scss */
.pagination__item {
  display: block;
  float: left;
  border-right: 1px solid #979797;
  margin: 0;
  text-align: center;
  font-weight: 700;
  width: 2em;
  line-height: 2em;
}
/* line 176, ../../../../../../../Compass_back/sass/_main.scss */
.pagination__item_current {
  background: #1c7cb8;
  color: #f7f7f7;
}
/* line 180, ../../../../../../../Compass_back/sass/_main.scss */
.pagination__item a {
  display: block;
}

/* line 3, ../../../../../../../Compass_back/sass/_form.scss */
.form-slide label {
  font-weight: 700;
  line-height: 2em;
  margin-top: 0.25em;
}
/* line 8, ../../../../../../../Compass_back/sass/_form.scss */
.form-slide .panel-default {
  border-radius: 5px;
  background: #ffffff;
  color: #1c7cb8;
  padding: 0.5em;
}
/* line 13, ../../../../../../../Compass_back/sass/_form.scss */
.form-slide .panel-default .panel-body {
  padding: 0;
}
/* line 17, ../../../../../../../Compass_back/sass/_form.scss */
.form-slide textarea.commentary, .form-slide div.commentary {
  background: #a1cae8;
  color: #fff;
  border: 1px solid #1c7cb8;
  width: 100%;
  padding: 1em 0.5em;
  height: 8rem;
}
/* line 25, ../../../../../../../Compass_back/sass/_form.scss */
.form-slide .button-box {
  margin-top: 2em;
}

/* line 29, ../../../../../../../Compass_back/sass/_form.scss */
#formcontainer {
  padding: 0 0.5em;
  position: relative;
}

/* line 33, ../../../../../../../Compass_back/sass/_form.scss */
tr.trcontainer {
  position: relative;
}

/* line 37, ../../../../../../../Compass_back/sass/_form.scss */
.form-button {
  position: absolute;
  right: 0px;
  top: -2.7em;
  width: 40%;
  height: 2.7em;
  display: block;
  padding: 0.25em;
  background: #1c7cb8;
  border-left: 1px solid #f7f7f7;
}
/* line 48, ../../../../../../../Compass_back/sass/_form.scss */
.form-button:after {
  content: "";
  display: block;
  clear: both;
}
/* line 54, ../../../../../../../Compass_back/sass/_form.scss */
.form-button button {
  test-transform: uppercase;
  border-radius: 5px;
  height: 2em;
  padding: 0 1em;
  line-height: 1.5em;
  font-size: 1em;
}
/* line 62, ../../../../../../../Compass_back/sass/_form.scss */
.form-button button#form_save {
  font-family: 'Lato-Regular';
  background: #f7f7f7;
  color: #1c7cb8;
  float: right;
  border: none;
  margin-right: 5px;
  text-transform: uppercase;
}
/* line 70, ../../../../../../../Compass_back/sass/_form.scss */
.form-button button#form_save:hover {
  background: #1c7cb8;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
}
/* line 76, ../../../../../../../Compass_back/sass/_form.scss */
.form-button button#form_reset {
  font-family: 'Lato-Regular';
  text-transform: uppercase;
  background: #1c7cb8;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
  margin-left: 5px;
}
/* line 83, ../../../../../../../Compass_back/sass/_form.scss */
.form-button button#form_reset:hover {
  background: #f7f7f7;
  color: #1c7cb8;
  border: none;
}

/* line 92, ../../../../../../../Compass_back/sass/_form.scss */
.button-box a.compare {
  display: block;
  padding: 0 0.75em;
  height: 3.5rem;
  line-height: 3.5rem;
  border: 1px solid #1c7cb8;
  border-radius: 5px;
  color: #1c7cb8;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 0.5rem;
}
/* line 105, ../../../../../../../Compass_back/sass/_form.scss */
.button-box a.compare:hover {
  background: #1c7cb8;
  color: #f7f7f7;
  text-decoration: none;
}

/* line 111, ../../../../../../../Compass_back/sass/_form.scss */
.glyphicon-floppy-disk::before, .glyphicon-remove-sign::before {
  font-family: 'Glyphicons Halflings';
  margin-right: 0.25em;
  vertical-align: middle;
}

/* line 116, ../../../../../../../Compass_back/sass/_form.scss */
.glyphicon-log-out {
  margin-right: 0.5em;
  font-size: 0.875em;
}

/* line 120, ../../../../../../../Compass_back/sass/_form.scss */
div.box-icone-validation {
  text-align: center;
  margin-top: 1.5em;
}

/* line 124, ../../../../../../../Compass_back/sass/_form.scss */
.button-box span.icone-validation {
  display: inline-block;
  width: 48px;
  height: 45px;
  margin: 0 1em;
  background: url("../../images/icone-validation-admin.png");
}
/* line 131, ../../../../../../../Compass_back/sass/_form.scss */
.button-box span.icone-validation.maybe {
  background-position: 0px 0px;
}
/* line 133, ../../../../../../../Compass_back/sass/_form.scss */
.button-box span.icone-validation.maybe:hover, .button-box span.icone-validation.maybe.choisi {
  background-position: 0px 45px;
}
/* line 137, ../../../../../../../Compass_back/sass/_form.scss */
.button-box span.icone-validation.valid {
  background-position: 98px 0px;
}
/* line 139, ../../../../../../../Compass_back/sass/_form.scss */
.button-box span.icone-validation.valid:hover, .button-box span.icone-validation.valid.choisi {
  background-position: 98px 45px;
}
/* line 143, ../../../../../../../Compass_back/sass/_form.scss */
.button-box span.icone-validation.refus {
  background-position: 47px 0px;
}
/* line 145, ../../../../../../../Compass_back/sass/_form.scss */
.button-box span.icone-validation.refus:hover, .button-box span.icone-validation.refus.choisi {
  background-position: 47px 45px;
}

/* line 150, ../../../../../../../Compass_back/sass/_form.scss */
#form_statuts {
  display: none;
}

/* line 153, ../../../../../../../Compass_back/sass/_form.scss */
.error-idea-not-found {
  color: #a50102;
  font-weight: 700;
  text-align: center;
}

/* line 159, ../../../../../../../Compass_back/sass/_form.scss */
.panel-body-big {
  min-height: 150px;
}

/*
#####################
*  BO ADMIN AUTH
* #################### */
/* line 5, ../../../../../../../Compass_back/sass/_adminlog.scss */
.admin-auth {
  background-image: url("../../images/fond-splash-bo.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: bottom left;
}

/* line 12, ../../../../../../../Compass_back/sass/_adminlog.scss */
.admin-auth-nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: #15388c;
  background: -moz-linear-gradient(top, #15388c 0%, #15388c 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #15388c), color-stop(50%, #15388c), color-stop(51%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #15388c 0%, #15388c 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, #15388c 0%, #15388c 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, #15388c 0%, #15388c 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #15388c 0%, #15388c 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15388c', endColorstr='#ffffff',GradientType=0 );
}

/* line 25, ../../../../../../../Compass_back/sass/_adminlog.scss */
.admin-auth-form {
  padding: 1em 1.5em 2em;
  margin: 0 auto;
  min-width: 350px;
  background: #ffffff;
  margin-top: 10em;
}

/* line 32, ../../../../../../../Compass_back/sass/_adminlog.scss */
.admin-auth-form .row {
  margin-left: 0;
  margin-right: 0;
}

/* line 36, ../../../../../../../Compass_back/sass/_adminlog.scss */
.admin-auth-title {
  text-align: left;
  padding: 0;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
  color: #15388c;
  margin: 0.5em 0 1em;
}

/* line 45, ../../../../../../../Compass_back/sass/_adminlog.scss */
.admin-auth-form label {
  display: block;
  color: grey;
  line-height: 1.5em;
  margin: 1em 0 0.25em;
}

/* line 51, ../../../../../../../Compass_back/sass/_adminlog.scss */
.admin-auth-form input {
  width: 300px;
  font-size: 1.125rem;
  padding: 0.5em 0.5em 0.5em 1em;
  margin: 0;
  border: medium none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #1C1C1C inset;
  width: 100%;
}

/* line 61, ../../../../../../../Compass_back/sass/_adminlog.scss */
.admin-auth-form input[type=checkbox] {
  display: inline-block;
  width: auto;
}

/* line 65, ../../../../../../../Compass_back/sass/_adminlog.scss */
.admin-auth-form label.remember {
  display: inline-block;
  width: auto;
}

/* line 69, ../../../../../../../Compass_back/sass/_adminlog.scss */
.admin-auth-form input[type=submit] {
  width: 50%;
  text-align: center;
  margin-left: 50%;
  background: #15388C;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

/*
#####################
*  FIN BO ADMIN AUTH
* #################### */
