<table width="620" class="w620" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;">
  <tr>
        <td>
                ici zone du footer commun
        </td>
  </tr>
</table>
