<table width="620" class="w620" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#e6e6e6">
  <tr>
        <td align="center" valign="top" class="column">
          <table width="310" border="0"cellspacing="0" cellpadding="0" class="BGtable">
                <tr bgcolor="#e6e6e6">
                  <td align='center'>
                        <img src="{{ app_front_url ~ asset('images/mailing/logo_LCL.png') }}" class="image" width="133" height="105" border="0" alt="LCL" style="border: 0;display: block;overflow: hidden;">
                  </td>
                </tr>
          </table>
        </td>
  </tr>
</table>
<table width="620" class="w620" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#e6e6e6">
  <tr>
        <td height="26"></td>
  </tr>
</table>
<table width="620" class="w620" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;">
  <tr>
        <td height="26"></td>
  </tr>
</table>
