<table width="620" class="w620" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;">
    <tr>
          <td>
                  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;">
                          <tr bgcolor="#e6e6e6">
                          <td height="5"></td>
                                  <td></td>
                          <td></td>
                          </tr>
                          <tr bgcolor="#e6e6e6">
                          <td height="27" width="20"></td>
                                  <td align="center">
                                          <font face="Arial, Helvetica, sans-serif" size="3" color="#740612" style="color: #740612; font: 10px/12px Arial, Helvetica, sans-serif;">
                                          Challenge de l'innovation LCL - {{ titleMail }}<br>
                                          </font>
                                          <font face="Arial, Helvetica, sans-serif" size="3" color="#343434" style="color: #343434; font: 10px/12px Arial, Helvetica, sans-serif;">
                                          Si cet email ne s'affiche pas correctement, vous pouvez le visualiser <span style="text-decoration: underline"><a href="#LIEN_ONLINE#">gr&acirc;ce &agrave; ce lien</a>.</span>
                                          </font>
                                  </td>
                          <td width="20"></td>
                          </tr>
                          <tr bgcolor="#e6e6e6">
                          <td height="5"></td>
                                  <td></td>
                          <td></td>
                          </tr>
                          <tr bgcolor="#740612">
                          <td height="5" width="20"></td>
                                  <td></td>
                          <td width="20"></td>
                          </tr>
                          <tr bgcolor="#e6e6e6">
                          <td height="27" width="20"></td>
                                  <td></td>
                          <td width="20"></td>
                          </tr>
                  </table>
          </td>
    </tr>
</table>
