{% extends "::baseMail.html.twig" %}

{% set titleMail = "Idée modifiée" %}

{% block title %} {{ parent() }} - {{ titleMail }}{% endblock %}


{% block stylesheets %}                        
    {{ parent() }}
    {% include 'innoLCLbackBundle:Mailing:_stylesheet.html.twig' %} 
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="BGtable" bgcolor="#ffffff" style="font-size:0;">
	<tr>
	  <td align="center">		
                {% include 'innoLCLbackBundle:Mailing:_top_header.html.twig' with { 'titleMail' : titleMail }%}                 
                {% include 'innoLCLbackBundle:Mailing:_header.html.twig' %} 
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#DDDDDD">
  <tr>
        <td>
           <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF">
                <tr>
                    <td height="200" width="620">  
                        <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF">
                            <tr> 
                                <td width="20">
                                
                                </td>        
                                  <td width="580">
                                    <h1 style="color: #20368b; font: 28px/24px Arial, Helvetica, sans-serif;font-weight: bold;">Poursuivez ... vous y êtes presque !</h1>
                                    <p style="margin-bottom: 24px;color: #000000;font: 14px/16px Arial, Helvetica, sans-serif;">Votre idée a été étudiée par le Comité de pré-sélection.</p>
                                    <p style="margin-bottom: 24px;color: #000000;font: 14px/16px Arial, Helvetica, sans-serif;">En l'état, <b>votre idée pourrait s'avérer recevable.</b> cependant, votre idée nécessite d'être complétée.</p>
                                    <p style="margin-bottom: 24px;color: #000000;font: 14px/16px Arial, Helvetica, sans-serif;">Un membre du Comité de pré-sélection va vous contacter directement par téléphone.</p>
                                    <p>Vous pourrez, au moment d'apporter les précisions de votre d'idée, vous connecter avec vos identifiants sur la plateforme du Challenge de l'innovation:</p>
                                    <p style="text-align:center;font: 14px/16px Arial, Helvetica, sans-serif;"><center><a href="https://challengedelinnovation-10ans.lcl.fr">https://challengedelinnovation-10ans.lcl.fr</a></center></p>
                                    <p style="margin-bottom: 24px;color: #000000;font: 14px/16px Arial, Helvetica, sans-serif;">et directement la modifier avant de la re-soumettre pour validation définitive.</p>
                                    
                                </td>
                                <td width="20">
                                
                                </td> 
                            </tr>  
                        </table>
                    </td>
                    
            </table>
        </td>        
  </tr>
</table>
                {% include 'innoLCLbackBundle:Mailing:_footer.html.twig' %} 
	  </td>
	</tr>
  </table>
{% endblock %}
