{% extends "::baseMail.html.twig" %}

{% set titleMail = "Idée enregistrée" %}

{% block title %} {{ parent() }} - {{ titleMail }}{% endblock %}


{% block stylesheets %}                        
    {{ parent() }}
    {% include 'innoLCLbackBundle:Mailing:_stylesheet.html.twig' %} 
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="BGtable" bgcolor="#ffffff" style="font-size:0;">
	<tr>
	  <td align="center">		
                {% include 'innoLCLbackBundle:Mailing:_top_header.html.twig' with { 'titleMail' : titleMail }%}                 
                {% include 'innoLCLbackBundle:Mailing:_header.html.twig' %} 
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#DDDDDD">
  <tr>
        <td>
           <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF">
                <tr>
                    <td height="200" width="620">  
                        <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF">
                            <tr> 
                                <td width="20">
                                
                                </td>        
                                  <td width="580">
                                    <h1 style="color: #20368b; font: 28px/24px Arial, Helvetica, sans-serif;font-weight: bold;">Merci !</h1>
                                    <p style="color: #20368b; font: 14px/16px Arial, Helvetica, sans-serif;font-weight: bold;">Votre participation au Challenge de l'innovation a bien été enregistrée.</p>
                                    <p style="margin-bottom: 24px; font: 14px/16px Arial, Helvetica, sans-serif;">Elle va être étudiée par le comité de pré-sélection pour s'assurer de la recevabilité de votre idée.</p>
                                    <p style="margin-bottom: 24px; font: 14px/16px Arial, Helvetica, sans-serif;">Vous serez informé rapidement par le comité de pré-sélection,<br/>
                                    de la suite à donner de votre idée d'innovation, soit :</p>
                                    <ul style="list-style-position: inside;color: #20368b; ">
                                        <li style="margin-bottom: 16px;"><font style="color: #000000;  font: 14px/16px Arial, Helvetica, sans-serif;"><b>votre idée d'innovation est retenue</b> pour poursuivre le processus de sélection,</font></li>
                                        <li style="margin-bottom: 16px;"><font style="color: #000000;  font: 14px/16px Arial, Helvetica, sans-serif;"><b>votre idée n'est pas retenue</b> car elle est déjà embarquée dans les projets existants de LCL, elle a déjà été proposée par un autre collaborateur ou votre idée ne répond pas à l'ensemble des critères de sélection... mais vous avez dès à présent la possibilité de soumettre une nouvelle idée !</font></li>
                                        <li style="margin-bottom: 16px;"><font style="color: #000000;  font: 14px/16px Arial, Helvetica, sans-serif;"><b>votre idée peut être recevable mais elle doit être approfondie.</b><br/>Un membre du Comité de pré-sélection va vous contacter afin de vous indiquer les précisions nécessaires à apporter à votre idée.</font></li>
                                    </ul>
                                </td>
                                <td width="20">
                                
                                </td> 
                            </tr>  
                        </table>
                    </td>
                    
            </table>
        </td>        
  </tr>
</table>                
                {% include 'innoLCLbackBundle:Mailing:_footer.html.twig' %} 
	  </td>
	</tr>
  </table>
{% endblock %}
