{% extends "::baseMail.html.twig" %}

{% set titleMail = "Idée refusée" %}

{% block title %} {{ parent() }} - {{ titleMail }}{% endblock %}


{% block stylesheets %}                        
    {{ parent() }}
    {% include 'innoLCLbackBundle:Mailing:_stylesheet.html.twig' %} 
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="BGtable" bgcolor="#ffffff" style="font-size:0;">
	<tr>
	  <td align="center">		
                {% include 'innoLCLbackBundle:Mailing:_top_header.html.twig' with { 'titleMail' : titleMail }%}                 
                {% include 'innoLCLbackBundle:Mailing:_header.html.twig' %} 
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#DDDDDD">
  <tr>
        <td>
           <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF">
                <tr>
                    <td height="200" width="620">  
                        <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF">
                            <tr> 
                                <td width="20">
                                
                                </td>        
                                  <td width="580">
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="580" bgcolor="#FFFFFF">
                                        <tr>
                                            <td width="580">
                                                <h1 style="color: #20368b; font: 28px/24px Arial, Helvetica, sans-serif;font-weight: bold;margin-bottom: 24px;">Retentez votre chance !</h1>
                                                <p style="margin-bottom: 48px;color: #000000; font: 14px/24px Arial, Helvetica, sans-serif;margin-bottom: 24px;">Malheureusement, votre idée n'a pas été retenue par le Comité de pré-sélection pour la raison suivante:</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="580">
                                                <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="580" bgcolor="#FFFFFF">
                                                    <tr>
                                                        <td width="580" height="40">
                                
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="20">
                                
                                                        </td>  
                                                        <td width="540">
                                                            <p style="color: #20368b; font: 16px/14px Arial, Helvetica, sans-serif;margin-bottom: 48px;">#MOTIF#
                                                            </p>
                                                        </td>  
                                                        <td width="20">
                                
                                                        </td>  
                                                    </tr>
                                                    <tr>
                                                        <td width="580" height="40">
                                
                                                        </td>
                                                    </tr>
                                                    </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="580">
                                                <p style="color: #000000; font: 14px/16px Arial, Helvetica, sans-serif;margin-bottom: 24px;"><b>Bonne nouvelle, rien n'est perdu !</b></p>
                                                <p style="color: #000000; font: 14px/16px Arial, Helvetica, sans-serif;margin-bottom: 24px;">Vous avez la possibilité, dès à présent, de soumettre une nouvelle idée en remplissant un nouveau formulaire de participation.</p>                                            
                                            </td>                                        
                                        </tr>
                                </td>
                                <td width="20">
                                
                                </td> 
                            </tr>  
                        </table>
                    </td>
                    
            </table>
        </td>        
  </tr>
</table>		               
                {% include 'innoLCLbackBundle:Mailing:_footer.html.twig' %} 
	  </td>
	</tr>
  </table>
{% endblock %}
