{% extends "::baseMail.html.twig" %}

{% set titleMail = "Idée validée" %}

{% block title %} {{ parent() }} - {{ titleMail }}{% endblock %}


{% block stylesheets %}                        
    {{ parent() }}
    {% include 'innoLCLbackBundle:Mailing:_stylesheet.html.twig' %} 
{% endblock %}

{% block body %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="BGtable" bgcolor="#ffffff">
	<tr>
	  <td align="center">		
                {% include 'innoLCLbackBundle:Mailing:_top_header.html.twig' with { 'titleMail' : titleMail }%}                 
                {% include 'innoLCLbackBundle:Mailing:_header.html.twig' %} 
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#DDDDDD">
  <tr>
        <td>
           <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF">
                <tr>
                    <td height="200" width="620">  
                        <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF">
                            <tr> 
                                <td width="20">
                                
                                </td>        
                                  <td width="580">
                                    <h1 style="text-align: left; color: #20368b; font: 28px/24px Arial, Helvetica, sans-serif;font-weight: bold;">Félicitations !</h1>
                                    <p style="color: #20368b; font: 16px/14px Arial, Helvetica, sans-serif;font-weight: bold;margin-bottom: 24px;">
                                        <font style="color: #20368b;font-size: 14px/24px;"  face="Arial, Helvetica, sans-serif" size="3" color="#20368b">
                                            Votre idée a été validée par le Comité de pré-sélection.
                                        </font>
                                    </p>
                                    <p style="margin-bottom: 24px;">
                                        <font style="color: #000000;font-size: 14px/24px;"  face="Arial, Helvetica, sans-serif" size="3" color="#20368b">
                                            Votre idée va poursuivre le processus de sélection.
                                            </font>
                                        </p>
                                    <ol style="list-style-position: outside;color: #20368b;font-size: 22px/24px;">
                                        <li style="margin-bottom: 16px;"><font style="color: #000000;font-size: 14px/24px;"  face="Arial, Helvetica, sans-serif" color="#20368b">Présentation de votre idée <b>mi-décembre</b> au jury du challenge de l'innovation qui sélectionnera 10 lauréats</font></li>
                                        <li style="margin-bottom: 16px;"><font style="color: #000000;font-size: 14px/24px;"  face="Arial, Helvetica, sans-serif" color="#20368b">Vote de l'ensemble des collaborateurs LCL <b>mi-janvier 2016</b> pour leur innovation préférée parmi les 10 retenues</font></li>
                                        <li style="margin-bottom: 16px;"><font style="color: #000000;font-size: 14px/24px;"  face="Arial, Helvetica, sans-serif" color="#20368b">&Eacute;lection <b>fin janvier 2016</b> et mise en œuvre de l'idée d'innovation préféréé!</font></li>
                                    </ol>
                                    <p style="margin-bottom: 24px;">
                                        <font style="color: #000000;font-size: 14px/24px;"  face="Arial, Helvetica, sans-serif" size="3" color="#20368b">
                                            Vous pouvez dès à présent, si vous le souhaitez faire appel à LCL Factory ainsi qu'à jusqu'à 10 collaborateurs &laquo; accompagnants &raquo; pour enrichir votre idée d'innovation.<br>Si celle-ci est retenue parmi les 10 lauréats,<br>
                                    <b>vos 10 accompagnants seront également récompensés !</b>
                                    </font>
                                    </p>
                                    <p style="margin-bottom: 24px;">
                                        <font style="color: #000000;font-size: 14px/24px;"  face="Arial, Helvetica, sans-serif" size="3" color="#20368b">
                                            <b>Et n'oubliez pas !</b> Vous avez jusqu'au 04/12/2015 pour continuer à enrichir votre idée sur la plate-forme du challenge de l'innovation :
                                            </font>
                                            </p>
                                    <p>
                                        <font style="color: #000000;font-size: 14px/24px;"  face="Arial, Helvetica, sans-serif" size="3" color="#20368b">
                                            Vous pourrez, au moment d'apporter les précisions de votre d'idée, vous connecter avec vos identifiants sur la plateforme du Challenge de l'innovation:
                                            </font>
                                        </p>
                                    <p style="text-align:center;margin-bottom: 24px;">
                                        <font style="color: #000000;font-size: 14px/24px;"  face="Arial, Helvetica, sans-serif" size="3" color="#20368b">
                                            <center><a href="https://challengedelinnovation-10ans.lcl.fr">https://challengedelinnovation-10ans.lcl.fr</a></center>
                                            </font>
                                        </p>
                                    <p>
                                        <font style="color: #000000;font-size: 14px/24px;"  face="Arial, Helvetica, sans-serif" size="3" color="#20368b">
                                            Nous vous souhaitons bonne chance.
                                            </font>
                                        </p>
                                    
                                </td>
                                <td width="20">
                                
                                </td> 
                            </tr>  
                        </table>
                    </td>
                    
            </table>
        </td>        
  </tr>
</table>               
                {% include 'innoLCLbackBundle:Mailing:_footer.html.twig' %} 
	  </td>
	</tr>
  </table>
{% endblock %}
