@font-face {
  font-family: '../fonts/ThirstyScriptExtraBold';
  src: url("../../Resources/assets/fonts/ThirstyScriptExtraBold.eot");
  src: url("../../Resources/assets/fonts/ThirstyScriptExtraBold.otf") format("truetype"), url("../../Resources/assets/fonts/ThirstyScriptExtraBold.woff") format("woff"), url("../../Resources/assets/fonts/ThirstyScriptExtraBold.eot?#iefix") format("embedded-opentype"), url("../../Resources/assets/fonts/ThirstyScriptExtraBold.svg#../fonts/ThirstyScriptExtraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * tools/_main.scss
 */
/* line 11, ../sass/_tools.scss */
.text-center {
  text-align: center;
}

/* line 14, ../sass/_tools.scss */
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 1, ../sass/_footer.scss */
footer {
  border-top: 3px solid #f7f7f7;
  background: #000000;
}

/* line 5, ../sass/_footer.scss */
.main-footer {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 2em;
  color: #f7f7f7;
}
/* line 12, ../sass/_footer.scss */
.main-footer__link, .main-footer__link:visited, .main-footer__link:active {
  display: inline-block;
  color: #f7f7f7;
  padding: 0 1em;
  text-decoration: none;
}

/* line 1, ../sass/_register.scss */
.register {
  height: 420px;
  overflow: hidden;
  width: 44em;
  margin: 8.75em auto;
}
/* line 8, ../sass/_register.scss */
.register__title {
  font-size: 26px;
  font-size: 1.625rem;
  text-transform: uppercase;
  text-align: center;
}
/* line 13, ../sass/_register.scss */
.register__subtitle {
  font-family: ThirstyScriptRegular, script;
  text-transform: none;
}
/* line 17, ../sass/_register.scss */
.register__slide {
  height: 100%;
}
/* line 21, ../sass/_register.scss */
.register__input {
  width: 300px;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 0.25em 0.5em;
  margin: 16px 0;
}
/* line 28, ../sass/_register.scss */
.register__submit {
  max-width: 33%;
  font-size: 22px;
  font-size: 1.375rem;
  color: #074390;
  margin: 0 33%;
  padding: 1em;
  background: #fcd403;
  border-radius: 10px;
  border: 1px solid #e1ae17;
  transition: all 100ms;
}
/* line 39, ../sass/_register.scss */
.register__submit:hover {
  border-bottom-width: 2px;
  border-right-width: 2px;
}
/* line 44, ../sass/_register.scss */
.register .select-style {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}
/* line 57, ../sass/_register.scss */
.register select {
  width: 300px;
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 69, ../sass/_register.scss */
.register .select-style select:focus {
  outline: none;
}

/* line 1, ../sass/_dotation.scss */
.dotation {
  background: #074390;
}
/* line 4, ../sass/_dotation.scss */
.dotation__first {
  height: 25em;
  background: #0677e6;
}
/* line 8, ../sass/_dotation.scss */
.dotation__second {
  height: 20.25em;
  background: #106c01;
}
/* line 12, ../sass/_dotation.scss */
.dotation__ten {
  height: 100%;
  background: #e1ae17;
}
/* line 16, ../sass/_dotation.scss */
.dotation__more {
  height: 100%;
  background: #d69b00;
  background-image: url("../../Resources/assets/css/./images/cadeaux.png");
}
