.col-md-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

header{
    background-color: #000000;
    background-image: url("../images/fond_halo.jpg");
    background-size: cover;
    background-position: center center;
}
.entete-generale{
    background-color: transparent;
    background-image: none;
    height:initial;
}

/* FRONT : inscription */
.showErrors{
    display:block;
    color:#ff0000;
    /*position:absolute;
    left:0;
    top:0;*/
}
.showErrors.hidden{
    display:none;
}
.showErrors ul{
    list-style-type: none;
    width: 300px;
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 0em 2em;
}
.showErrors ul li{
    list-style-type: none;
    width: 300px;
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 0em 2em;
    display:none;
}
/* seulement 1 erreur affichée à la fois */
.showErrors ul li:first-child {
    display: block;
}

/* FRONT : Connexion */
.login a.login__inscription{
    color: #222;
    text-decoration:none;
}

/* FRONT : ANIM LOGO */
.entete-generale img.entete-generale__ombre {
    top:initial;
}
@media (max-width: 78.75){
    .entete-generale img.entete-generale__ombre {
    bottom:0px;
    }
}
/* BOUTON PLAY */
.containerBTVideo{
    z-index: 102;
    position: relative;
    height: 123px;
}
.js-launchvideo {
    cursor: pointer;
    z-index: 102;
    position: absolute;
    left: 50%;
    margin-left: -61px;
}

/* CORRECTION IDEE */
.idealist__myideas {
    width: auto;
}


/* PAGES */
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
@media (min-width: 768px){
    .navbar-static-top {
        border-radius: 0;
    }
}
.navbar:after, .navbar:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar:before {
    display: table;
    content: " ";
}
.navbar:after {
    clear: both;
}
span.nav_challenge {
    font-weight: 700;
    font-size: 18px;
    line-height: 4.375rem;
    color: #f7f7f7;
}
@media (min-width: 768px){
    .navbar {
        border-radius: 4px;
    }
}


.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar {
    background: #15388c;
    background: -moz-linear-gradient(top, #15388c 0%, #15388c 50%, #ffffff 51%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #15388c), color-stop(50%, #15388c), color-stop(51%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #15388c 0%, #15388c 50%, #ffffff 51%, #ffffff 100%);
    background: -o-linear-gradient(top, #15388c 0%, #15388c 50%, #ffffff 51%, #ffffff 100%);
    background: -ms-linear-gradient(top, #15388c 0%, #15388c 50%, #ffffff 51%, #ffffff 100%);
    background: linear-gradient(to bottom, #15388c 0%, #15388c 50%, #ffffff 51%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15388c', endColorstr='#ffffff',GradientType=0 );
    height: 8.75em;
    margin-bottom: 1.5em;
    border: none;
}
.navbar .navLink{
    text-decoration: none;
}
.navbar .navContent{
    max-width:1280px;
    width:100%;
    margin:0 auto;
}


body.mentions {
    background-color: #ffffff;
}
body.mentions .row .small-10{
    background-color: #ffffff;
}

body.reglement {
    background-color: #ffffff;
}
body.reglement .row .small-10{
    background-color: #ffffff;
}








@media screen and (max-width: 1220px) {   
    .entete-generale {
        height:initial;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 1090px) {   
    .entete-generale__videotext.title{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1068px) {
    .dotation__first .small-6.columns{
        width: 70%;  
    }
    .dotation__first .title {
        margin-top: calc(17% - 90px);
    }
}

@media screen and (max-width: 1050px) {
    .dotation__more .title .secondline{
        font-size: 1.7em;
    }
}

@media screen and (max-width: 1024px) {
    .entete-generale .small-6.columns .row{
        width: 80%;
        margin: 0 auto;
    } 
    
    .entete-generale__videotext.title{
        font-size: 1.5rem;
    }
    
    .login .login__title{
        font-size: 0.8rem;
    }
    
    .login .login__rememberme__label{
        font-size: 12px;
    }
    
    .login input[type="submit"]{
        font-size: 12px;
        line-height: 44px;
        padding: 0 0.6em;
    }
    
    .login a.login__inscription{
        padding: 0 0;
        font-size: 0.8rem;
    }
    .login span.login__inscription{
        padding: 0 0;
        font-size: 0.8rem;
    }
    
    
    
    
    
    .dotation__first .small-6.columns{
        width: 100%;            
    }
    .dotation__first .title{
        margin-top: 0px;
        font-size: 1rem;
    }
    
    .dotation__second .dotation__ten .title{
        font-size: 2rem;
        margin-top: 0px;
    }
    .dotation__second .dotation__more .title{
        font-size: 2rem;
    }
}
@media screen and (max-width: 831px) {    
    .dotation__second .dotation__more .title{
        margin-top: 0px;
    }
    .dotation__more .title .secondline{
        font-size: 1.5em;
    }
}
