<div class="dotation clearfix">
    <h2 class="title">Proposez votre idée la plus innovante, <span class="title--subline">et tentez de gagner</span></h2>
    <div>
        <div class="dotation__first">
                <div class="small-6 columns">
                    <p  class="title">
                        {% image '@innoLCLfrontBundle/Resources/assets/images/premier_prix.png' %}
                        <img src="{{ asset_url }}"  alt="Gagnez un voyage à San Francisco" />
                    {% endimage %}<br/>
                    Un voyage <span class="tolower">à</span>
                   <span class="title--subline huge">San Francisco</span></p>
                </div>
        </div>
        <div class="dotation__second">
            <div class="small-6 columns  dotation__ten">
                <p  class="title">
                        {% image '@innoLCLfrontBundle/Resources/assets/images/10_laureats.png' %}
                        <img src="{{ asset_url }}"  alt="10 MacBook à gagner" />
                    {% endimage %}<br/>
                    MacBook
                   <span class="title--subline">256Go</span></p>
            </div>
            <div class="small-6 columns  dotation__more">
                <p  class="title">
                    <span class="firstline">&hellip; Et bien d'autres prix</span><br/>
                    <span class="secondline">à découvrir</span><br/>
                    <span class="thirdline">tout au long du challenge</span>
                </p>
            </div>
        </div>
    </div>
</div>
