<div class="js-custom-scroll">    
    <div class="idealist clearfix">
                <ul class="idealist__myideas" style="width:{{500+(510 * idealist|length)}}px;">
                {% for idea in idealist %}
                    {# % if loop.first % #}
                        {% if idea.validated == 0 %}
                            {{ include("innoLCLfrontBundle:Default:ideawaiting.html.twig")}}
                        {% elseif idea.statuts == "maybe" or idea.statuts == "validated" %}
                            {{ include("innoLCLfrontBundle:Default:ideaupdate.html.twig")}}
                        {% elseif idea.statuts == "refused" %}
                            {{ include("innoLCLfrontBundle:Default:idearefused.html.twig")}}
                        {% endif %}
                    {# % else % #}
                        {# { include("innoLCLfrontBundle:Default:idearefused.html.twig")} #}
                    {# % endif % #}
                {% endfor %}
                </ul>
    </div>
</div>
