<div id="modal_empty" class="reveal-modal modal" data-reveal aria-labelledby="" aria-hidden="false" role="dialog">
	<div class="popup">
		<h1 class="popup__title"></h1>
		<div class="popup__content"></div>

		<div class="popup__footer">
			<p class="popup__footer__signature"><span>Challenge de l'innovation, 10ans LCL</span></p>
		</div>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	<img src="{{ asset('images/popin_logo_bas.png') }}"  class="popin_img_bas" />
	<img src="{{ asset('images/popin_logo_haut.png') }}"  class="popin_img_haut" />                                    
</div>
