<div class="makingof_bg">
<div class="row">
    <div class="ie-small-10-fix makingof">
        {% image '@innoLCLfrontBundle/Resources/assets/images/vousavezvotez.png' %}
            <img src="{{ asset_url }}"  alt="Vous avez voté pour le grand gagnant ?" /><br/>
        {% endimage %}
        <p class="makingof_intro">Vous pourriez être tiré au sort pour venir assister à la  remise des prix,<br/>
        surveillez vos mails!</p>
        {% image '@innoLCLfrontBundle/Resources/assets/images/videomakingof.png' %}
            <img src="{{ asset_url }}"  alt="video Making-Off" class=" js-videoopen" data-video="{{asset('video/makingof.mp4')}}" data-videosize="auto" data-videocontrols="true" /><br/>
        {% endimage %}
        <p class="makingof_cta">Découvrez bientôt en vidéo<br/>
        le making-off du challenge</p>
    </div>
</div>
</div>