{# app/Resources/views/email/password_resetting.email.twig #}

{% block subject %}Inscription prise en compte{% endblock %}

{% block body_text %}
{% autoescape false %}
Challenge de l'innovation

Votre inscription est bien prise en compte !

Veuillez cliquez sur le lien pour valider définitivement votre inscription et pouvoir proposer une idée:
{{ confirmationUrl }}

Le comité de pré-sélection,
Challenge de l'innocation, 10ans LCL
{% endautoescape %}
{% endblock %}

{% block body_html %}
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <title>Inscription prise en compte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    /* Fonts and Content */
    body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size:14px; }
    body { background-color: #dddddd; margin: 0; padding: 0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
    h2{ padding-top:12px; /* ne fonctionnera pas sous Outlook 2007+ */color:#0E7693; font-size:22px; }
    </style>
   
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">

    <table style="background-color: #dddddd" border="0" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td align="center" bgcolor="#dddddd">
                    <table border="0" cellpadding="0" cellspacing="0"   bgcolor="#20368B">
                        <tbody>   
                            <!-- entete -->                         
                            <tr  bgcolor="#20368B" height="120" width="640">
                                <td class="w640" height="120" width="120" >
                                    <table width="120">
                                        <tr height="60" width="120">
                                            <td width="120">
                                                <img class="w580" style="text-decoration: none; display: block; color:#476688; font-size:30px;" src="logo.png" alt="Mon Logo" height="60" width="120">
                                            </td width="120">
                                        </tr>
                                        <tr height="60" width="120"  bgcolor="#dddddd">
                                            <td width="120">
                                            </td width="120">
                                        </tr>
                                    </table>
                                </td>
                                <td class="w640" align="center" height="120" width="400"   bgcolor="#20368B"> 
                                    <table width="400">
                                        <tr height="60" width="400">
                                            <td>
                                                <span style="color:#ffffff; font-size:22px;font-weight: 700; text-align:center;">Challenge de l'innovation</span>
                                            </td>
                                        </tr>
                                        <tr height="60" width="400">
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="w640" height="120" width="640">
                                    <img class="w580" style="text-decoration: none; display: block; color:#476688; font-size:30px;" src="logo.png" alt="Mon Logo" height="120" width="120">
                                </td>
                            </tr>
                            <!-- fin entete -->
                            
                             <!-- contenu -->
                            <tr class="content">
                                <td class="w640" bgcolor="#ffffff" width="640">
                                    <span style="font-weight:bold;">Votre inscription est bien prise en compte !</span>
                                </td>
                            </tr>
                            <tr class="content">
                                <td class="w640" bgcolor="#ffffff" width="640" height="160">
                                    <p style="font-weight:bold;">Veuillez cliquez sur le lien pour valider définitivement votre inscription et pouvoir proposer une idée:</p>
                                    <p><a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
                                </td>
                            </tr>

                            <!-- pied de page -->
                            <tr>
                                <td class="w640" width="640" bgcolor="#ffffff">
                                    <span style="font-weight: bold">Le comité de pré-sélection</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w640" width="640" bgcolor="#ffffff">
                                    <span style="font-weight: bold">Challenge de l'innovation, 10 ans LCL</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="w640" bgcolor="#000000" height="1" width="320"></td>
                                <td class="w640" height="1" width="320"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body></html>
{% endblock %}
