{# src/innoLCL/bothIdeaBundle/Resources/views/Form/frontsuccess.html.twig#}

<div class="popup">
    <h1 class="popup__title">{{ titre|raw }}</h1>
    <p class="popup__content">{{ texte|raw }}</p>
    
    <div class="popup__footer">
        <p class="popup__footer__signature">Le comité de pré-sélection.<br/>
        <span>Challenge de l'innovation, 10ans LCL</span></p>
    </div>
</div>

