{# src/innoLCL/bothIdeaBundle/Resources/views/Form/user.html.twig#}

<div id="formIdea" class="reveal-modal suggestidea" data-reveal aria-labelledby="Proposez une idée" aria-hidden="true" role="dialog">
    
    {{ include("innoLCLbothIdeaBundle:Form:frontraw.html.twig")}}

</div>
