header{
    background-position-y: top;
}

body.proposal .entete-generale {
    padding-bottom: 20px;
}

/* line 1, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.dotation__ten, .dotation__more {
  padding-bottom: 25%;
}

/* line 5, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.dotation__ten p.title, .dotation__more p.title {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

/* line 9, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.dotation__more p.title {
  margin-top: 1.5em;
  font-size: 36px;
}

/* line 13, ../../../../../../../Compass_front/sass/ie8-fix.scss */
#player_flash-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
}

/* line 20, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.title--subline {
  font-size: 36px;
  font-size: 1em;
}

/* line 24, ../../../../../../../Compass_front/sass/ie8-fix.scss */
#videoflash {
  height: 100%;
  width: 100%;
}

/* line 28, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.reveal-modal.suggestidea {
  margin: 0 10%;
  width: 80%;
  padding: 0 10px;
}

/* line 33, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.suggestidea__submit {
  margin: 16px auto;
}

/* line 36, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.close-reveal-modal {
  font-size: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 42, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.register__input--mail {
  width: 674px;
}

/* line 45, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.ie-small-10-fix {
  width: 80%;
  margin: 0 10%;
}

/* line 49, ../../../../../../../Compass_front/sass/ie8-fix.scss */
div.popup__footer {
  margin-left: -10px;
  margin-bottom: 16px;
}

/* line 53, ../../../../../../../Compass_front/sass/ie8-fix.scss */
#formRegisterConfirmed {
  top: 150px;
}

/* line 56, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.reveal-modal-bg {
  background: url("../../../images/modalbg.png") repeat transparent;
}

/* line 59, ../../../../../../../Compass_front/sass/ie8-fix.scss */
.row {
  max-width: 960px;
}

/* line 62, ../../../../../../../Compass_front/sass/ie8-fix.scss */
body.mentions .navbar .col-md-4, body.reglement .navbar .col-md-4, body.manual .navbar .col-md-4, body.mentions .navContent .col-md-4, body.reglement .navContent .col-md-4, body.manual .navContent .col-md-4 {
  height: 75px;
  background: #15388C;
}

/* line 66, ../../../../../../../Compass_front/sass/ie8-fix.scss */
body.mentions .navContent .col-md-4.text-center img, body.reglement .navContent .col-md-4.text-center img, body.manual .navContent .col-md-4.text-center img {
  margin-left: -125px;
  left: 50%;
  position: absolute;
  top: 3px;
}

/* line 74, ../../../../../../../Compass_front/sass/ie8-fix.scss */
label.iedisplay {
  display: inline-block !important;
  width: 300px;
  font-size: 18px;
  margin: 0.5em 2em 0em;
  text-align: center;
}

/* line 82, ../../../../../../../Compass_front/sass/ie8-fix.scss */
div.login input.login__input, div.login input.login__connect {
  width: 100%;
}
